In [1]:
import pandas as pd
from pandas import Series, DataFrame
%pylab inline

from pandas import Series, DataFrame
import pandas as pd

HR_df = pd.read_csv(r'/Users/sanjjj/Desktop/Course/Data Science Programming/Project/data/HRXYZ data.csv')

HR_df

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,8,0,1.0,6,1,0,0,3.0,4.0,2.0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,8,1,6.0,3,5,1,4,3.0,2.0,4.0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,8,3,5.0,2,5,0,3,2.0,2.0,1.0
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,8,3,13.0,5,8,7,5,4.0,4.0,3.0
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,8,2,9.0,2,6,0,4,4.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,8,1,10.0,5,3,0,2,4.0,1.0,3.0
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,8,0,10.0,2,3,0,2,4.0,4.0,3.0
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,8,0,5.0,4,4,1,2,1.0,3.0,3.0
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,8,1,10.0,2,9,7,8,4.0,1.0,3.0
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,8,0,NaN,6,21,3,9,1.0,3.0,NaN

In [14]:
# drop rows with mssing values, most rows do not have NA values
HR_df.dropna(inplace=True)

# change attrition to numerical
attrition_mapping = {'Yes': 1, 'No': 0}

# Apply the mapping to the 'Attrition' column
HR_df['Attrition'] = HR_df['Attrition'].map(attrition_mapping)
HR_df

# apply mapping to the 'Gender' column 
gender_mapping = {'Male': 1, 'Female': 0}
HR_df['Gender'] = HR_df['Gender'].map(gender_mapping)

#HR_df

# droppping some columns that we think are not important/not variables of interest
HR_df.drop(['Over18', 'EmployeeCount', 'StandardHours', 'EmployeeID'], axis=1, inplace=True)
HR_df

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,...,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,0,1,Healthcare Representative,...,11,0,1.0,6,1,0,0,3.0,4.0,2.0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,0,1,Research Scientist,...,23,1,6.0,3,5,1,4,3.0,2.0,4.0
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,4,Sales Executive,...,15,3,5.0,2,5,0,3,2.0,2.0,1.0
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,3,Human Resources,...,11,3,13.0,5,8,7,5,4.0,4.0,3.0
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,1,Sales Executive,...,12,2,9.0,2,6,0,4,4.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,0,Travel_Rarely,Sales,4,3,Other,0,2,Human Resources,...,18,0,6.0,2,6,1,5,3.0,4.0,3.0
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,0,1,Research Scientist,...,17,1,10.0,5,3,0,2,4.0,1.0,3.0
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,1,Laboratory Technician,...,15,0,10.0,2,3,0,2,4.0,4.0,3.0
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,2,Sales Executive,...,20,0,5.0,4,4,1,2,1.0,3.0,3.0
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,1,Laboratory Technician,...,14,1,10.0,2,9,7,8,4.0,1.0,3.0

In [2]:
pip install scipy

Requirement already satisfied: scipy in /Users/sanjjj/anaconda3/lib/python3.10/site-packages (1.10.0)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in /Users/sanjjj/anaconda3/lib/python3.10/site-packages (from scipy) (1.23.5)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import numpy as np
import scipy.stats as stats

In [15]:
#Age
# Convert the DataFrame into a contingency table
contingency_table = pd.crosstab(HR_df['Age'], HR_df['Attrition'])

# Perform the Chi-square test
chi2_stat, p_val, dof, expected = stats.chi2_contingency(contingency_table)

print(f"Chi-square test statistic: {chi2_stat}")
print(f"P-value: {p_val}")
print(f"Degrees of freedom: {dof}")
print("Expected frequencies:")
print(expected)

Chi-square test statistic: 345.4377591418746
P-value: 2.5286895611179176e-49
Degrees of freedom: 42
Expected frequencies:
[[ 18.44418605   3.55581395]
 [ 22.63604651   4.36395349]
 [ 27.66627907   5.33372093]
 [ 31.85813953   6.14186047]
 [ 39.40348837   7.59651163]
 [ 35.21162791   6.78837209]
 [ 64.55465116  12.44534884]
 [ 64.55465116  12.44534884]
 [ 93.05930233  17.94069767]
 [118.21046512  22.78953488]
 [118.21046512  22.78953488]
 [165.99767442  32.00232558]
 [147.55348837  28.44651163]
 [166.83604651  32.16395349]
 [150.06860465  28.93139535]
 [145.03837209  27.96162791]
 [189.47209302  36.52790698]
 [191.9872093   37.0127907 ]
 [167.6744186   32.3255814 ]
 [123.24069767  23.75930233]
 [143.36162791  27.63837209]
 [103.11976744  19.88023256]
 [136.65465116  26.34534884]
 [ 96.4127907   18.5872093 ]
 [110.66511628  21.33488372]
 [ 77.96860465  15.03139535]
 [ 82.99883721  16.00116279]
 [ 98.92790698  19.07209302]
 [ 82.16046512  15.83953488]
 [ 59.5244186   11.4755814 ]
 [ 46.94883721   9.05116279]
 [ 60.3627907   11.6372093 ]
 [ 73.77674419  14.22325581]
 [ 46.11046512   8.88953488]
 [ 42.75697674   8.24302326]
 [ 46.11046512   8.88953488]
 [ 44.43372093   8.56627907]
 [ 54.49418605  10.50581395]
 [ 33.53488372   6.46511628]
 [ 10.06046512   1.93953488]
 [ 35.21162791   6.78837209]
 [ 25.15116279   4.84883721]
 [ 12.5755814    2.4244186 ]]

In [ ]:
# If the p-value is less than the significance level (e.g., 0.05), you can reject the null hypothesis (H0) and conclude that there is a statistically significant association between the categorical variables. In other words, the observed differences in the frequencies are not likely to have occurred by chance alone, and there is evidence of a relationship between the variables.

# If the p-value is greater than or equal to the significance level, you fail to reject the null hypothesis. This suggests that there is no statistically significant association between the categorical variables, and any observed differences in the frequencies could be due to chance.

# In summary, a small p-value indicates a significant association between the categorical variables, while a large p-value suggests no significant association. The Chi-square test does not provide information on the strength or direction of the association; it only determines if an association exists or not

In [16]:
#BusinessTravel
# Convert the DataFrame into a contingency table
contingency_table = pd.crosstab(HR_df['BusinessTravel'], HR_df['Attrition'])
# Perform the Chi-square test
chi2_stat_BT, p_val_BT, dof_BT, expected_BT = stats.chi2_contingency(contingency_table)
print(f"Chi-square test statistic: {chi2_stat_BT}")
print(f"P-value: {p_val_BT}")
print(f"Degrees of freedom: {dof_BT}")
print("Expected frequencies:")
print(expected_BT)

Chi-square test statistic: 65.82022671013159
P-value: 5.097055600861411e-15
Degrees of freedom: 2
Expected frequencies:
[[ 368.88372093   71.11627907]
 [ 678.24302326  130.75697674]
 [2557.87325581  493.12674419]]

In [18]:
#DistanceFromHome
# Convert the DataFrame into a contingency table
contingency_table = pd.crosstab(HR_df['DistanceFromHome'], HR_df['Attrition'])
# Perform the Chi-square test
chi2_stat_DFH, p_val_DFH, dof_DFH, expected_DFH = stats.chi2_contingency(contingency_table)
print(f"Chi-square test statistic: {chi2_stat_DFH}")
print(f"P-value: {p_val_DFH}")
print(f"Degrees of freedom: {dof_DFH}")
print("Expected frequencies:")
print(expected_DFH)

Chi-square test statistic: 103.68042588687696
P-value: 1.271618349280085e-10
Degrees of freedom: 28
Expected frequencies:
[[513.08372093  98.91627907]
 [514.76046512  99.23953488]
 [203.7244186   39.2755814 ]
 [155.09883721  29.90116279]
 [155.9372093   30.0627907 ]
 [144.2         27.8       ]
 [206.23953488  39.76046512]
 [197.01744186  37.98255814]
 [210.43139535  40.56860465]
 [214.62325581  41.37674419]
 [ 72.1         13.9       ]
 [ 49.46395349   9.53604651]
 [ 46.94883721   9.05116279]
 [ 50.30232558   9.69767442]
 [ 64.55465116  12.44534884]
 [ 79.64534884  15.35465116]
 [ 50.30232558   9.69767442]
 [ 64.55465116  12.44534884]
 [ 53.65581395  10.34418605]
 [ 61.20116279  11.79883721]
 [ 44.43372093   8.56627907]
 [ 46.11046512   8.88953488]
 [ 63.71627907  12.28372093]
 [ 67.06976744  12.93023256]
 [ 61.20116279  11.79883721]
 [ 62.03953488  11.96046512]
 [ 30.18139535   5.81860465]
 [ 55.33255814  10.66744186]
 [ 67.06976744  12.93023256]]

In [20]:
#EducationField
# Convert the DataFrame into a contingency table
contingency_table = pd.crosstab(HR_df['EducationField'], HR_df['Attrition'])
# Perform the Chi-square test
chi2_stat_EF, p_val_EF, dof_EF, expected_EF = stats.chi2_contingency(contingency_table)
print(f"Chi-square test statistic: {chi2_stat_EF}")
print(f"P-value: {p_val_EF}")
print(f"Degrees of freedom: {dof_EF}")
print("Expected frequencies:")
print(expected_EF)

Chi-square test statistic: 41.736450294379466
P-value: 6.659853465446713e-08
Degrees of freedom: 5
Expected frequencies:
[[  67.06976744   12.93023256]
 [1480.56511628  285.43488372]
 [ 393.19651163   75.80348837]
 [1143.53953488  220.46046512]
 [ 198.69418605   38.30581395]
 [ 321.93488372   62.06511628]]

In [24]:
#MaritalStatus
# Convert the DataFrame into a contingency table
contingency_table = pd.crosstab(HR_df['MaritalStatus'], HR_df['Attrition'])
# Perform the Chi-square test
chi2_stat_MS, p_val_MS, dof_MS, expected_MS = stats.chi2_contingency(contingency_table)
print(f"Chi-square test statistic: {chi2_stat_MS}")
print(f"P-value: {p_val_MS}")
print(f"Degrees of freedom: {dof_MS}")
print("Expected frequencies:")
print(expected_MS)

Chi-square test statistic: 129.99995046772187
P-value: 5.900236665869354e-29
Degrees of freedom: 2
Expected frequencies:
[[ 795.61511628  153.38488372]
 [1650.75465116  318.24534884]
 [1158.63023256  223.36976744]]

In [25]:
#MonthlyIncome
# Convert the DataFrame into a contingency table
contingency_table = pd.crosstab(HR_df['MonthlyIncome'], HR_df['Attrition'])
# Perform the Chi-square test
chi2_stat_MI, p_val_MI, dof_MI, expected_MI = stats.chi2_contingency(contingency_table)
print(f"Chi-square test statistic: {chi2_stat_MI}")
print(f"P-value: {p_val_MI}")
print(f"Degrees of freedom: {dof_MI}")
print("Expected frequencies:")
print(expected_MI)

Chi-square test statistic: 3929.3476286931614
P-value: 3.406754498980685e-250
Degrees of freedom: 1348
Expected frequencies:
[[2.51511628 0.48488372]
 [2.51511628 0.48488372]
 [2.51511628 0.48488372]
 ...
 [2.51511628 0.48488372]
 [2.51511628 0.48488372]
 [2.51511628 0.48488372]]

In [27]:
#NumCompaniesWorked
# Convert the DataFrame into a contingency table
contingency_table = pd.crosstab(HR_df['NumCompaniesWorked'], HR_df['Attrition'])
# Perform the Chi-square test
chi2_stat_NCW, p_val_NCW, dof_NCW, expected_NCW = stats.chi2_contingency(contingency_table)
print(f"Chi-square test statistic: {chi2_stat_NCW}")
print(f"P-value: {p_val_NCW}")
print(f"Degrees of freedom: {dof_NCW}")
print("Expected frequencies:")
print(expected_NCW)

Chi-square test statistic: 71.84936829734798
P-value: 6.599361857190673e-12
Degrees of freedom: 9
Expected frequencies:
[[ 477.87209302   92.12790698]
 [1286.90116279  248.09883721]
 [ 357.98488372   69.01511628]
 [ 390.68139535   75.31860465]
 [ 338.70232558   65.29767442]
 [ 155.09883721   29.90116279]
 [ 168.5127907    32.4872093 ]
 [ 181.92674419   35.07325581]
 [ 118.21046512   22.78953488]
 [ 129.10930233   24.89069767]]

In [35]:
#TotalWorkingYears
# Convert the DataFrame into a contingency table
contingency_table = pd.crosstab(HR_df['TotalWorkingYears'], HR_df['Attrition'])
# Perform the Chi-square test
chi2_stat_twy, p_val_twy, dof_twy, expected_twy = stats.chi2_contingency(contingency_table)
print(f"Chi-square test statistic: {chi2_stat_twy}")
print(f"P-value: {p_val_twy}")
print(f"Degrees of freedom: {dof_twy}")
print("Expected frequencies:")
print(expected_twy)

Chi-square test statistic: 355.844895648279
P-value: 9.18417443067768e-53
Degrees of freedom: 39
Expected frequencies:
[[2.59895349e+01 5.01046512e+00]
 [2.00370930e+02 3.86290698e+01]
 [7.79686047e+01 1.50313953e+01]
 [1.03119767e+02 1.98802326e+01]
 [1.55098837e+02 2.99011628e+01]
 [2.13784884e+02 4.12151163e+01]
 [3.08520930e+02 5.94790698e+01]
 [1.96179070e+02 3.78209302e+01]
 [2.50673256e+02 4.83267442e+01]
 [2.33067442e+02 4.49325581e+01]
 [4.94639535e+02 9.53604651e+01]
 [8.63523256e+01 1.66476744e+01]
 [1.20725581e+02 2.32744186e+01]
 [8.97058140e+01 1.72941860e+01]
 [7.46151163e+01 1.43848837e+01]
 [9.97662791e+01 1.92337209e+01]
 [9.05441860e+01 1.74558140e+01]
 [8.29988372e+01 1.60011628e+01]
 [6.70697674e+01 1.29302326e+01]
 [5.44941860e+01 1.05058140e+01]
 [7.29383721e+01 1.40616279e+01]
 [8.21604651e+01 1.58395349e+01]
 [4.86255814e+01 9.37441860e+00]
 [5.53325581e+01 1.06674419e+01]
 [4.52720930e+01 8.72790698e+00]
 [3.43732558e+01 6.62674419e+00]
 [3.35348837e+01 6.46511628e+00]
 [1.67674419e+01 3.23255814e+00]
 [3.43732558e+01 6.62674419e+00]
 [2.51511628e+01 4.84883721e+00]
 [1.76058140e+01 3.39418605e+00]
 [2.26360465e+01 4.36395349e+00]
 [2.09593023e+01 4.04069767e+00]
 [1.76058140e+01 3.39418605e+00]
 [1.17372093e+01 2.26279070e+00]
 [7.54534884e+00 1.45465116e+00]
 [1.50906977e+01 2.90930233e+00]
 [1.00604651e+01 1.93953488e+00]
 [2.51511628e+00 4.84883721e-01]
 [5.03023256e+00 9.69767442e-01]]

In [37]:
#YearsAtCompany
# Convert the DataFrame into a contingency table
contingency_table = pd.crosstab(HR_df['YearsAtCompany'], HR_df['Attrition'])
# Perform the Chi-square test
chi2_stat_yc, p_val_yc, dof_yc, expected_yc = stats.chi2_contingency(contingency_table)
print(f"Chi-square test statistic: {chi2_stat_yc}")
print(f"P-value: {p_val_yc}")
print(f"Degrees of freedom: {dof_yc}")
print("Expected frequencies:")
print(expected_yc)

Chi-square test statistic: 286.7718359721763
P-value: 7.801586908278778e-41
Degrees of freedom: 36
Expected frequencies:
[[105.63488372  20.36511628]
 [418.34767442  80.65232558]
 [309.35930233  59.64069767]
 [315.22790698  60.77209302]
 [271.63255814  52.36744186]
 [482.90232558  93.09767442]
 [186.95697674  36.04302326]
 [220.49186047  42.50813953]
 [197.01744186  37.98255814]
 [196.17906977  37.82093023]
 [294.26860465  56.73139535]
 [ 77.96860465  15.03139535]
 [ 35.21162791   6.78837209]
 [ 60.3627907   11.6372093 ]
 [ 43.59534884   8.40465116]
 [ 49.46395349   9.53604651]
 [ 30.18139535   5.81860465]
 [ 21.79767442   4.20232558]
 [ 31.85813953   6.14186047]
 [ 25.98953488   5.01046512]
 [ 66.23139535  12.76860465]
 [ 33.53488372   6.46511628]
 [ 37.72674419   7.27325581]
 [  5.03023256   0.96976744]
 [ 15.09069767   2.90930233]
 [ 10.06046512   1.93953488]
 [ 10.06046512   1.93953488]
 [  5.03023256   0.96976744]
 [  5.03023256   0.96976744]
 [  2.51511628   0.48488372]
 [  7.54534884   1.45465116]
 [  7.54534884   1.45465116]
 [ 12.5755814    2.4244186 ]
 [  2.51511628   0.48488372]
 [  5.03023256   0.96976744]
 [  2.51511628   0.48488372]
 [  2.51511628   0.48488372]]

In [38]:
#YearsSinceLastPromotion
# Convert the DataFrame into a contingency table
contingency_table = pd.crosstab(HR_df['YearsSinceLastPromotion'], HR_df['Attrition'])
# Perform the Chi-square test
chi2_stat_yslp, p_val_yslp, dof_yslp, expected_yslp = stats.chi2_contingency(contingency_table)
print(f"Chi-square test statistic: {chi2_stat_yslp}")
print(f"P-value: {p_val_yslp}")
print(f"Degrees of freedom: {dof_yslp}")
print("Expected frequencies:")
print(expected_yslp)

Chi-square test statistic: 63.595604324668514
P-value: 6.01365021105512e-08
Degrees of freedom: 15
Expected frequencies:
[[1422.71744186  274.28255814]
 [ 880.29069767  169.70930233]
 [ 388.16627907   74.83372093]
 [ 129.94767442   25.05232558]
 [ 145.87674419   28.12325581]
 [ 111.50348837   21.49651163]
 [  77.96860465   15.03139535]
 [ 183.60348837   35.39651163]
 [  45.27209302    8.72790698]
 [  41.91860465    8.08139535]
 [  14.25232558    2.74767442]
 [  57.84767442   11.15232558]
 [  25.15116279    4.84883721]
 [  25.15116279    4.84883721]
 [  22.63604651    4.36395349]
 [  32.69651163    6.30348837]]

In [39]:
#YearsWithCurrManager
# Convert the DataFrame into a contingency table
contingency_table = pd.crosstab(HR_df['YearsWithCurrManager'], HR_df['Attrition'])
# Perform the Chi-square test
chi2_stat_ycm, p_val_ycm, dof_ycm, expected_ycm = stats.chi2_contingency(contingency_table)
print(f"Chi-square test statistic: {chi2_stat_ycm}")
print(f"P-value: {p_val_ycm}")
print(f"Degrees of freedom: {dof_ycm}")
print("Expected frequencies:")
print(expected_ycm)

Chi-square test statistic: 224.71653364043806
P-value: 2.920656398866805e-38
Degrees of freedom: 17
Expected frequencies:
[[6.37162791e+02 1.22837209e+02]
 [1.86118605e+02 3.58813953e+01]
 [8.45917442e+02 1.63082558e+02]
 [3.51277907e+02 6.77220930e+01]
 [2.41451163e+02 4.65488372e+01]
 [7.79686047e+01 1.50313953e+01]
 [7.04232558e+01 1.35767442e+01]
 [5.29012791e+02 1.01987209e+02]
 [2.61572093e+02 5.04279070e+01]
 [1.56775581e+02 3.02244186e+01]
 [6.62313953e+01 1.27686047e+01]
 [5.44941860e+01 1.05058140e+01]
 [4.52720930e+01 8.72790698e+00]
 [3.52116279e+01 6.78837209e+00]
 [1.25755814e+01 2.42441860e+00]
 [1.17372093e+01 2.26279070e+00]
 [4.19186047e+00 8.08139535e-01]
 [1.76058140e+01 3.39418605e+00]]

In [40]:
#EnvironmentSatisfaction
# Convert the DataFrame into a contingency table
contingency_table = pd.crosstab(HR_df['EnvironmentSatisfaction'], HR_df['Attrition'])
# Perform the Chi-square test
chi2_stat_es, p_val_es, dof_es, expected_es = stats.chi2_contingency(contingency_table)
print(f"Chi-square test statistic: {chi2_stat_es}")
print(f"P-value: {p_val_es}")
print(f"Degrees of freedom: {dof_es}")
print("Expected frequencies:")
print(expected_es)

Chi-square test statistic: 66.03078718267717
P-value: 3.018866510479783e-14
Degrees of freedom: 3
Expected frequencies:
[[ 695.84883721  134.15116279]
 [ 703.39418605  135.60581395]
 [1105.8127907   213.1872093 ]
 [1099.94418605  212.05581395]]

In [41]:
#JobSatisfaction
# Convert the DataFrame into a contingency table
contingency_table = pd.crosstab(HR_df['JobSatisfaction'], HR_df['Attrition'])
# Perform the Chi-square test
chi2_stat_js, p_val_js, dof_js, expected_js = stats.chi2_contingency(contingency_table)
print(f"Chi-square test statistic: {chi2_stat_js}")
print(f"P-value: {p_val_js}")
print(f"Degrees of freedom: {dof_js}")
print("Expected frequencies:")
print(expected_js)

Chi-square test statistic: 50.946213106207644
P-value: 5.02288323219608e-11
Degrees of freedom: 3
Expected frequencies:
[[ 710.10116279  136.89883721]
 [ 689.98023256  133.01976744]
 [1086.53023256  209.46976744]
 [1118.38837209  215.61162791]]

In [42]:
#WorkLifeBalance
# Convert the DataFrame into a contingency table
contingency_table = pd.crosstab(HR_df['WorkLifeBalance'], HR_df['Attrition'])
# Perform the Chi-square test
chi2_stat_wlb, p_val_wlb, dof_wlb, expected_wlb = stats.chi2_contingency(contingency_table)
print(f"Chi-square test statistic: {chi2_stat_wlb}")
print(f"P-value: {p_val_wlb}")
print(f"Degrees of freedom: {dof_wlb}")
print("Expected frequencies:")
print(expected_wlb)

Chi-square test statistic: 45.17601707685773
P-value: 8.489055178330413e-10
Degrees of freedom: 3
Expected frequencies:
[[ 197.85581395   38.14418605]
 [ 842.56395349  162.43604651]
 [2187.3127907   421.6872093 ]
 [ 377.26744186   72.73255814]]